.menu-container {
    background-color: rgb(246, 246, 246);
    /* background-image: url('/src/assets/pizza-4968645_1920.jpg'); */
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 98svw;
    height: 100vh;
    /* border: solid black; */
    animation: fadeIn 0.25s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.toolbar {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.menu-bar {
    background-image: url('/src/assets/pizza-4968645_1920.jpg');
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15%;
    /* border: solid black; */
}

.item-box {
    background-color: rgb(227, 225, 225);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    /* border: solid black; */
}

.food-container {
    background-color: white;
    display: flex;
    width: 300px;
    height: 450px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    border: solid rgb(105, 105, 105);
    border-width: 1px;
    border-radius: 10px !important;
    box-shadow: 0 0 10px rgb(35, 35, 35) !important;
    margin: 20px;
}

.add-to-cart-btn {
    width: 130px;
    color: rgb(56, 56, 56);
}

.food-image-card {
    width: 30px;
}

@media (max-width:920px) {

    .food-container {
        background-color: rgb(28, 20, 20);
        display: flex;
        width: 100% !important;
        height: 450px;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        border: solid rgb(105, 105, 105);
        border-width: 1px;
        border-radius: 10px !important;
        box-shadow: 0 0 10px rgb(35, 35, 35) !important;
        margin: 20px;
    }
}