.admin-page-container {
    /* background-color: rgb(246, 246, 246); */
    background-image: url('/src/assets/board-1854180_1920.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 98vw;
    height: 100vh;
    /* border: solid black; */
    animation: fadeIn 0.25s;
}

.toolbar {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.admin-choice-toolbars {
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px;
    border: solid;
}

.admin-progress-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.admin-text-box {
    width: 90px;
    font-size: 18px;
    text-align: center;
    font-family: sans-serif;
    margin: 0px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.admin-edit-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 73%;
}

.admin-select-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.663);
    margin: 10px;
    width: 30%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 5px rgb(71, 71, 71);
}

.admin-item-view {
    background-color: white;
    margin: 10px;
    width: 65%;
    height: 100%;
    box-shadow: 0 0 5px rgb(71, 71, 71);
    border-radius: 20px;
}

.admin-box-grid {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    border: solid;
    margin-bottom: 20px;
    border: solid rgb(95, 95, 95);
    border-radius: 20px;
    box-shadow: 0 0 5px rgb(71, 71, 71);
    padding-right: 10px;
}

.admin-delete-btns {
    display: flex;
    flex-direction: row;
    background-color: white;
    border: solid rgb(95, 95, 95);
    border-radius: 20px;
    box-shadow: 0 0 5px rgb(71, 71, 71);
}

.admin-del-cat-btn {
    margin: 10px !important;
}

.admin-del-itm-btn {
    margin: 10px !important;
}

.admin-add-btn {
    width: 110px;
    height: 50px;
}

.admin-img-box {
    width: 20%;
    height: 20%;
    border-radius: 20px;
}

.admin-img-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid;
    border-color: rgb(152, 152, 152);
    border-width: 1px;
    margin: 10px;
    padding-bottom: 5px;
}

.admin-upload-btn {

    border-radius: 15px;
    width: 300px;
    height: 100px;
}

.admin-detail-part {
    display: flex;
    flex-direction: row;
}

.admin-detail-text-boxes {
    display: flex;
    flex-direction: column;
    border-right: solid 1px rgb(152, 152, 152);
    width: 70%;
}

.admin-detail-info-boxes {
    display: flex;
    flex-direction: row;
}

.admin-detail-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: sans-serif;
    margin-left: 10px;
}

.admin-action-part {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-right: 10px;
}

.admin-change-btn {
    width: 200px;
    height: 60px;
    background-color: rgb(5, 102, 5) !important;
}

.admin-outline-btn {
    width: 200px !important;
    height: 50px !important;

}

@media (max-width:920px) {

    .admin-sign-page-container {
        /* background-color: rgb(193, 193, 193); */
        background-image: url('/src/assets/board-1854180_1920.jpg');
        background-size: cover;
        display: flex;
        flex-direction: column;
        width: 98vw;
        height: 100vh;
        /* border: solid black; */
        animation: fadeIn 0.25s;
    }

    .admin-choice-toolbars {
        background-color: rgb(20, 20, 20);
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10px;
        border: solid;
    }

    .admin-select-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.663);
        margin: 10px;
        width: 100%;
        height: 55%;
        border-radius: 20px;
        box-shadow: 0 0 5px rgb(71, 71, 71);
    }

    .admin-box-grid {
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        border: solid;
        margin-bottom: 20px;
        border: solid rgb(95, 95, 95);
        border-radius: 20px;
        box-shadow: 0 0 5px rgb(71, 71, 71);
        padding-right: 10px;
    }

    .admin-add-btn {
        width: 100px;
        height: 40px;
    }

    .admin-detail-part {
        display: flex;
        flex-direction: column;
    }

    .admin-edit-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    .admin-item-view {
        background-color: white;
        margin: 10px;
        width: 100%;
        box-shadow: 0 0 5px rgb(71, 71, 71);
        border-radius: 20px;
    }

    .admin-img-part {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid;
        border-color: rgb(152, 152, 152);
        border-width: 1px;
        margin: 10px;
        padding-bottom: 5px;
    }

    .admin-img-box {
        width: 60%;
        height: 20%;
        border-radius: 20px;
        margin-bottom: 20px;
    }


    .admin-upload-btn {
        border-radius: 15px !important;
        width: 200px;
        height: 50px;
        margin-bottom: 10px !important;
    }

    .admin-detail-part {
        display: flex;
        flex-direction: column;
    }

    .admin-detail-text-boxes {
        display: flex;
        flex-direction: column;
        border-right: solid 1px rgb(152, 152, 152);
        width: 100%;
    }

    .admin-detail-info-boxes {
        display: flex;
        flex-direction: column;
    }

    .admin-detail-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: sans-serif;
        margin-left: 10px;
    }

    .admin-action-part {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-right: 10px;
    }

    .admin-change-btn {
        width: 130px;
        height: 40px;
        background-color: rgb(5, 102, 5) !important;
    }

    .admin-outline-btn {
        width: 130px !important;
        height: 40px !important;
    }

    .admin-text-box {
        width: 90px;
        font-size: 16px;
        text-align: center;
        font-family: sans-serif;
        margin: 0px;
        font-weight: bold;
        color: rgb(255, 255, 255);
    }
}